.logo {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.container {
    max-width: 955px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
    border-radius: 12px;

}

.message {
    background-color: grey;
    width: 24%;
    padding: 10px;
    margin: 4px -10px;
    border: 2px solid black;
    border-radius: 8px;

}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

#send-container{
    text-align: center;
    margin: auto;
    
    text-align: center;
    max-width: 1031px;
    width: 100%;
}

#msginp{
    width: 87%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}

.btn{
    padding: 0%;
    width: 9%;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;

}


body{
    height: 100vh;
    background-image: linear-gradient(rgb(255,255,255) , rgb(37, 92, 68) );
}



